html, body {
  height: 100%;
  overflow: hidden;
  background-color: #374151;
}

.Layout {
  height: 100vh;
  text-align: center;
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  gap: 20px;
}

nav {
  height: 100%;
  width: 15%;
  background-color: #F9FAFB;
  color: gray;
  padding: 10px 20px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 20px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  gap: 10px;
}

nav ul li a {
  text-decoration: none;
  color: gray;
  font-size: 1.5em;
}

nav ul li a:hover {
  border-bottom: 5px solid #A7F3D0;
}

main {
  width: 100%;
  color: #F9FAFB;
}